@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Thin.eot");
  src: url("../fonts/Gilroy/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Thin.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #2D2D2D; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.main-container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  padding: 0 20px; }

a {
  display: block;
  outline: none;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  a:hover {
    text-decoration: none; }

h1 {
  font-size: 60px; }

.color-violet {
  color: #775DAA; }

.main-header {
  margin: 0 0 47px;
  padding: 9px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.85%, #FFFFFF), to(#F5E6EE));
  background: linear-gradient(180deg, #FFFFFF 16.85%, #F5E6EE 100%); }
  .main-header .main-container:before {
    content: '';
    position: absolute;
    left: -60px;
    top: 34px;
    width: 229px;
    height: 229px;
    border-radius: 50%;
    background: linear-gradient(97.29deg, #E3B1C6 -9.5%, #FFC790 110.84%);
    opacity: .3; }
  .main-header .main-container:after {
    content: '';
    border-radius: 50%;
    background: linear-gradient(97.29deg, #E3B1C6 -9.5%, #FFC790 110.84%);
    width: 82px;
    height: 82px;
    bottom: -47px;
    right: -250px;
    position: absolute; }

.main-header-img {
  max-width: 485px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -80px 0 auto; }

.main-header-content {
  padding: 77px 0 0 0;
  width: calc(100% - 485px);
  position: relative;
  z-index: 1; }

.description-title {
  margin: 30px 0 0;
  font-size: 44px;
  font-weight: 200; }

.main-d-none {
  opacity: 0; }

.main-footer {
  position: relative;
  padding: 80px 0 50px; }
  .main-footer:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(56.87deg, #ECAACC 12.39%, #F4C58F 91.16%); }
  .main-footer .main-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .main-footer .main-container > * {
      position: relative; }
    .main-footer .main-container:before {
      content: '';
      position: absolute;
      width: 230px;
      height: 230px;
      border-radius: 50%;
      background: #F9F1F5;
      top: -31px;
      left: -63px; }

.main-footer-box {
  position: relative;
  z-index: 1; }

.main-footer__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 54px 0 0;
  color: #C4C4C4;
  font-size: 14px; }

.main-links {
  color: #C4C4C4; }

.main-copyright {
  max-width: 520px;
  width: 100%; }

.main-footer-box__title {
  width: 100%;
  color: #775DAA;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 28px; }

.main-logo {
  max-width: 153px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px; }

.main-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .main-footer-social li {
    margin: 0 35px 0 0; }
    .main-footer-social li:last-child {
      margin: 0; }

.main-footer-menu {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }
  .main-footer-menu li {
    margin: 0 50px 10px 0; }
    .main-footer-menu li:nth-child(3), .main-footer-menu li:nth-child(4) {
      margin-right: 0; }
    .main-footer-menu li a {
      color: #2D2D2D;
      font-size: 14px; }
      .main-footer-menu li a:hover {
        color: #775DAA; }
    .main-footer-menu li .main-mail {
      color: #775DAA; }

.main-mail {
  color: #775DAA;
  text-decoration: underline; }

.main-header-top {
  width: 100%;
  position: relative;
  height: 100vh; }

.btn-burger {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 14px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.main-header-slider {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  font-family: "Gilroy", sans-serif; }
  .main-header-slider .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 112px 40px 30px;
    height: 100%; }

.btn-scroll {
  margin: auto auto 0; }

.bg-violet {
  background: #775DAA; }

.bg-mint {
  background: #8AC1B1; }

.bg-black-violet {
  background: #190F2D; }

.bg-light-blue {
  background: #58C5CC; }

.bg-blue {
  background: #5D87F4; }

.bg-light-brown {
  background: #D3B25D; }

.bg-light-green {
  background: #ADC973; }

.btn-accent {
  position: relative;
  text-shadow: 0px 1px 0px #FFFFFF;
  color: #775DAA;
  font-size: 26px;
  font-weight: 600;
  height: 80px;
  width: 100%; }
  .btn-accent:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    border-radius: 9px;
    background: #F29CA3;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 33px 30px #F4E9EA;
            box-shadow: 0px 33px 30px #F4E9EA; }
  .btn-accent span {
    position: relative;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#FEDADD), to(#FFC8CD));
    background: linear-gradient(180deg, #FEDADD 0%, #FFC8CD 100%);
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border-radius: 9px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .btn-accent:hover span {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFEFF1), to(#FFD6D9));
    background: linear-gradient(180deg, #FFEFF1 0%, #FFD6D9 100%); }

.btn-violet {
  background: #775DAA;
  border-radius: 9px;
  color: #fff;
  height: 60px;
  font-size: 20px;
  font-weight: 600; }
  .btn-violet:hover {
    background: #633EAB; }

.btn-connect {
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  border-radius: 9px; }
  .btn-connect:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 20px 20px rgba(131, 103, 187, 0.3);
            box-shadow: 0px 20px 20px rgba(131, 103, 187, 0.3);
    background: #604499;
    border-radius: 9px; }
  .btn-connect span {
    background: -webkit-gradient(linear, left top, left bottom, from(#775DAA), to(#8F6FCC));
    background: linear-gradient(180deg, #775DAA 0%, #8F6FCC 100%);
    border-radius: 9px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .btn-connect:hover span {
    background: -webkit-gradient(linear, left top, left bottom, from(#886CBF), to(#B795F9));
    background: linear-gradient(180deg, #886CBF 0%, #B795F9 100%); }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }

.main-header-slider__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none; }

.main-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0 97px; }
  .main-menu li a {
    color: #fff;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-menu li a:after {
      display: inline-block;
      content: '';
      width: 3px;
      height: 3px;
      background: #fff;
      border-radius: 50%;
      margin: 0 20px; }
  .main-menu li:last-child a:after {
    display: none; }

.logo-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0 100px;
  margin: auto auto 0; }

.logo-slider__svg {
  max-width: 490px;
  width: 100%;
  margin: 0 auto; }

.logo-slider__img {
  max-width: 350px;
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.slick-slide {
  outline: none; }

.wrapper {
  font-family: "Gilroy", sans-serif; }

.main-top-navigation {
  padding: 10px 0; }
  .main-top-navigation .logo {
    width: 100px; }
  .main-top-navigation .main-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-top-navigation .main-menu {
    margin: 0;
    width: auto; }
    .main-top-navigation .main-menu li a {
      color: #282828;
      font-weight: 600; }
      .main-top-navigation .main-menu li a:after {
        background: #282828; }

.main-top-navigation.fixed {
  position: fixed;
  z-index: 7;
  width: 100%;
  background: #fff;
  left: 0;
  top: 0; }

.main-about {
  padding: 50px 0 65px; }
  .main-about .main-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

.main-about__box {
  max-width: 500px;
  width: 100%;
  margin: 0 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #282828;
  font-size: 16px; }
  .main-about__box .text {
    max-width: 435px; }

.main-about__img {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 24px; }

.img-mobile {
  display: none; }

.img-desktop {
  display: block; }

.main-about__box-one {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-about__title {
  margin: 0 0 18px;
  text-transform: uppercase;
  color: #282828;
  font-size: 18px;
  font-weight: bold; }

.main-about__links {
  margin: 0 0 25px;
  text-decoration: underline;
  color: #775DAA;
  font-size: 18px; }

.links-accent {
  text-decoration: underline;
  display: inline;
  color: #775DAA; }

.links-directions {
  margin: 0 0 10px;
  border: 1px solid #775DAA;
  color: #282828;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .links-directions:hover {
    color: #fff;
    background: #775DAA; }
  .links-directions:last-child {
    margin: 0; }

.main-command .line-wrapper {
  margin: 0 0 23px; }

.main-command-slider {
  width: 100%; }

.line-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap; }

h2 {
  text-transform: uppercase;
  color: #282828;
  font-size: 18px;
  font-weight: bold; }

.main-command-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 0 0 0 125px;
  width: 340px;
  color: #282828; }

.main-command-box__photo {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 115px;
  height: 115px;
  position: absolute;
  left: 0;
  top: 0; }
  .main-command-box__photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.name-user {
  font-weight: bold;
  font-size: 16px; }

.position-user {
  margin: 9px 0 19px;
  font-weight: 600;
  font-size: 12px;
  max-width: 175px;
  width: 100%; }

.main-command-box__text {
  font-weight: 100;
  font-size: 12px; }

.slick-arrow {
  position: relative;
  top: 0;
  right: 0;
  -webkit-transform: none;
          transform: none;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15); }
  .slick-arrow:before {
    display: none; }

.slick-next {
  background: #fff url("../img/arrow-right.svg") no-repeat center;
    background-size: 6px;
  margin: 0 18px 0 5px; }
  .slick-next:hover, .slick-next:focus {
    background: #fff url("../img/arrow-right.svg") no-repeat center;
      background-size: 6px; }

.slick-prev {
  background: #fff url("../img/arrow-left.svg") no-repeat center;
    background-size: 6px; }
  .slick-prev:hover, .slick-prev:focus {
    background: #fff url("../img/arrow-left.svg") no-repeat center;
      background-size: 6px; }

.main-command-slider__nav {
  margin: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.slick-dots {
  position: relative;
  width: calc(100% - 85px);
  bottom: 0;
  background: #ECECEC;
  height: 2px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .slick-dots .slick-active {
    background: #775DAA; }
  .slick-dots li {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 2px;
    width: auto;
    border-radius: 10px; }
    .slick-dots li button {
      display: none; }

.mobile-menu {
  position: fixed;
  height: 100%;
  z-index: 10;
  width: 270px;
  display: none; }

.btn-close {
  position: absolute;
  top: 13px;
  right: -35px;
  cursor: pointer; }

.mobile-menu__wrapper {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 30px 16px;
  background: #fff; }
  .mobile-menu__wrapper .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .mobile-menu__wrapper .main-menu li {
      margin: 0 0 20px; }
      .mobile-menu__wrapper .main-menu li:last-child {
        margin: 0; }
      .mobile-menu__wrapper .main-menu li a {
        color: #282828;
        font-family: "Gilroy", sans-serif;
        font-size: 16px; }
        .mobile-menu__wrapper .main-menu li a:hover {
          color: #775DAA; }
        .mobile-menu__wrapper .main-menu li a:after {
          display: none; }

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  display: none; }

.main-page {
  font-family: "Gilroy", sans-serif;
  color: #2D2D2D; }
  .main-page h2 {
    font-size: 46px;
    text-transform: none;
    margin: 0 0 40px;
    color: #2D2D2D; }
  .main-page .description-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin: 0; }

.main-market {
  background: #775DAA;
  color: #fff;
  position: relative;
  padding: 30px 0 133px;
  overflow: hidden; }
  .main-market h1 {
    margin: 73px 0 49px;
    font-size: 55px;
    font-weight: bold;
    max-width: 630px;
    width: 100%; }
    .main-market h1 a {
      display: inline;
      color: #fff;
      text-decoration: underline; }
  .main-market .main-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 1; }
  .main-market .btn {
    max-width: 330px; }
    .main-market .btn:before {
      -webkit-box-shadow: 0px 33px 30px #6A4F9D;
              box-shadow: 0px 33px 30px #6A4F9D; }

.main-market-img {
  position: absolute;
  right: 20px;
  top: 0;
  max-width: 667px;
  width: 100%;
  height: 100%; }
  .main-market-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.advantages-number {
  position: relative;
  margin: 0 0 30px;
  padding: 54px 0; }

.block-appeal {
  position: absolute;
  right: 0;
  top: 0;
  width: 520px;
  background: #FFDADD;
  padding: 51px 50px 60px;
  color: #2D2D2D;
  font-size: 24px;
  z-index: 1; }
  .block-appeal p {
    margin: 0 0 20px;
    max-width: 220px; }
  .block-appeal .btn {
    max-width: 300px; }

.advantages-number__box {
  color: #2D2D2D;
  font-size: 24px;
  margin: 0 126px 0 0; }
  .advantages-number__box:last-child {
    margin: 0; }
  .advantages-number__box .number {
    color: #775DAA;
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 60px; }
  .advantages-number__box p {
    max-width: 250px; }

.stages-work {
  margin: 0 0 17px; }
  .stages-work .btn {
    max-width: 300px; }

.stages-work__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.stages-work__box {
  margin: 0 0 40px;
  font-size: 18px;
  line-height: 21px;
  max-width: 267px;
  width: 100%; }
  .stages-work__box h3 {
    margin: 35px 0 20px;
    font-size: 24px;
    font-weight: bold; }

.stages-work__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 120px; }

.main-help {
  position: relative;
  padding: 48px 0;
  margin: 0 0 50px; }
  .main-help h2 {
    margin: 0; }
  .main-help .block-appeal p {
    max-width: 395px; }

.main-help__content {
  max-width: 510px;
  width: 100%; }

.table-responsive {
  width: 100%;
  overflow-x: auto; }

.connection {
  margin: 50px 0 60px; }

.table-connect {
  width: 100%;
  font-size: 18px; }
  .table-connect .th, .table-connect .td {
    position: relative;
    width: 20%; }
    .table-connect .th:before, .table-connect .td:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 2px;
      height: calc(100% - 20px);
      border-radius: 2px;
      background: #FFDADD; }
    .table-connect .th:first-child, .table-connect .th:last-child, .table-connect .td:first-child, .table-connect .td:last-child {
      width: 30%; }
  .table-connect .th, .table-connect .td {
    padding: 15px 18px; }
    .table-connect .th:first-child, .table-connect .td:first-child {
      padding: 15px 18px 15px 150px; }
      .table-connect .th:first-child:before, .table-connect .td:first-child:before {
        display: none; }
  .table-connect .td:first-child {
    color: #775DAA;
    font-size: 24px; }
  .table-connect .btn {
    height: 50px;
    max-width: 258px;
    font-size: 20px; }
    .table-connect .btn:before {
      bottom: -5px; }
  .table-connect h3 {
    color: #775DAA;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 17px; }

.thead {
  width: 100%;
  -webkit-box-shadow: 0 10px 10px rgba(119, 93, 170, 0.15);
          box-shadow: 0 10px 10px rgba(119, 93, 170, 0.15);
  background: #FFF5F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #775DAA;
  font-size: 24px; }
  .thead .th:not(:first-child) {
    font-weight: bold; }

.tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .tr:nth-child(even) {
    background: #FFF5F6; }

.price-connect p {
  font-size: 24px;
  color: #775DAA; }

.price-connect .btn {
  margin: 22px 0 20px; }

.price-connect .btn-accent:before {
  -webkit-box-shadow: 0px 20px 20px rgba(244, 233, 234, 0.7);
          box-shadow: 0px 20px 20px rgba(244, 233, 234, 0.7); }

.description-connect {
  max-width: 240px;
  height: 100%; }

.icon-property {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.users-service h2 a {
  display: inline;
  text-decoration: underline; }

.users-service-slider {
  padding: 0 0 0 150px;
  position: relative; }
  .users-service-slider:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 364px;
    background: -webkit-gradient(linear, right top, left top, color-stop(19.11%, #FFFFFF), color-stop(98.78%, rgba(255, 255, 255, 0)));
    background: linear-gradient(270deg, #FFFFFF 19.11%, rgba(255, 255, 255, 0) 98.78%);
    z-index: 1; }
  .users-service-slider .main-command-box {
    width: 900px;
    padding: 0 0 0 200px;
    margin: 0 20px 0 0;
    min-height: 200px; }
  .users-service-slider .main-command-box__text {
    font-size: 16px; }
  .users-service-slider .position-user {
    margin: 11px 0 21px;
    max-width: none;
    font-size: 16px; }
  .users-service-slider .name-user {
    font-size: 22px; }
  .users-service-slider .main-command-box__photo {
    width: 180px;
    height: 180px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1700px) {
  .main-header .main-container:after {
    right: -50px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 40px; }
  .description-title {
    font-size: 34px; }
  .main-header-img {
    margin: 0 0 0 auto;
    max-width: 350px; }
  .main-header .main-container:after {
    right: 20px; }
  .main-header-content {
    width: calc(100% - 350px); }
  .main-footer-menu li {
    margin-right: 10px; }
  .main-footer-box:nth-child(2) .main-footer-menu li {
    margin-right: 0; }
  .advantages-number__box {
    font-size: 18px;
    margin: 0 30px 0 0; }
    .advantages-number__box .number {
      font-size: 50px; }
    .advantages-number__box p {
      max-width: 200px; }
  .block-appeal {
    width: 400px; }
  .table-connect h3, .table-connect, .price-connect p {
    font-size: 16px; }
  .thead, .table-connect .td:first-child {
    font-size: 18px; }
  .table-connect .th:first-child, .table-connect .td:first-child {
    padding: 15px; }
  .icon-property {
    width: 20px;
    height: 20px; }
  .price-connect p {
    font-weight: 600; }
  .users-service-slider {
    padding: 0 0 0 15px; }
  .users-service-slider .main-command-box {
    width: 700px; } }

@media only screen and (max-width: 1050px) {
  .main-about__img, .main-about__box {
    max-width: 400px; }
  .main-command-box {
    padding: 0 0 0 109px;
    width: 310px; }
  .main-command-box__photo {
    width: 99px;
    height: 99px; }
  .users-service-slider .main-command-box {
    padding: 0 0 0 109px; } }

@media only screen and (max-width: 992px) {
  .main-footer-menu {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
    .main-footer-menu li {
      margin-right: 0; }
  .main-copyright {
    max-width: 350px; }
  .main-market-img {
    width: 457px; }
  .main-market {
    padding: 30px 0 50px; }
    .main-market h1 {
      font-size: 45px;
      margin: 45px 0 30px; } }

@media only screen and (max-width: 960px) {
  .main-command-box {
    width: 250px;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-command-box__photo {
    position: relative; }
  .main-command-box__content {
    width: calc(100% - 109px); }
  .main-command-box__text {
    margin: 11px 0 0; }
  .name-user {
    font-size: 14px; }
  .position-user {
    font-size: 10px;
    margin: 11px 0 0; }
  .block-appeal {
    width: 320px;
    font-size: 18px;
    padding: 30px 15px; }
    .block-appeal p {
      max-width: none; }
    .block-appeal .btn {
      max-width: 232px; }
  .btn-violet {
    height: 50px;
    font-size: 18px; }
  .advantages-number {
    padding: 20px 0 30px; }
  .main-help__content {
    max-width: 450px; }
  .users-service-slider .main-command-box {
    padding: 0; }
  .users-service-slider .main-command-box {
    width: 500px; }
  .users-service .main-command-slider__nav {
    margin: 0; } }

@media only screen and (max-width: 845px) {
  h1 {
    font-size: 30px; }
  .description-title {
    font-size: 24px; }
  .main-about__img, .main-about__box {
    max-width: 300px; }
  .advantages-number__box {
    width: 100%;
    margin: 0 0 40px;
    text-align: center; }
    .advantages-number__box p {
      max-width: 290px;
      margin: 0 auto; }
    .advantages-number__box:last-child {
      margin: 0 0 30px; }
  .advantages-number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .block-appeal {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    text-align: center; }
    .block-appeal p {
      margin: 0 auto 15px; }
    .block-appeal .btn {
      margin: 0 auto; }
  .main-page h2 {
    font-size: 28px;
    margin: 0 0 24px; }
  .stages-work__box {
    max-width: none;
    width: 100%;
    text-align: center;
    margin: 0 0 50px; }
    .stages-work__box h3 {
      margin: 10px 0;
      font-size: 22px; }
  .stages-work__icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .stages-work .btn {
    height: 60px;
    max-width: 232px;
    margin: 0 auto;
    font-size: 18px; }
  .main-help {
    padding: 60px 0 40px; }
    .main-help h2 {
      margin: 0 auto 20px;
      text-align: center; }
  .main-help__content {
    max-width: none; }
  .main-page .description-title {
    text-align: center; }
  .main-help .block-appeal p {
    max-width: none; }
    .main-help .block-appeal p br {
      display: none; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .main-header-content {
    width: calc(100% - 300px);
    padding: 47px 0 22px; }
  .main-header-img {
    max-width: 300px; }
  .main-header .main-container:before {
    width: 141px;
    height: 141px;
    left: -57px;
    top: 0; }
  .main-header {
    margin: 0 0 38px; }
    .main-header .main-container:after {
      width: 46px;
      height: 46px;
      bottom: -22px; }
  .table-connect .btn {
    height: 33px;
    max-width: 120px;
    font-size: 12px; }
    .table-connect .btn:before {
      bottom: -3px; }
  .table-connect .th:first-child, .table-connect .td:first-child {
    width: 25%; }
  .table-connect .th, .table-connect .td, .table-connect .td:last-child, .table-connect .th:last-child {
    width: 25%; }
  .users-service-slider .main-command-box {
    width: 400px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 660px) {
  .main-footer-menu li a {
    font-size: 12px; }
  .main-footer-box__title {
    font-size: 18px; }
  .main-copyright {
    max-width: none;
    margin: 0 auto 0 0;
    width: auto; }
  .main-logo {
    max-width: 120px; }
  .main-about__box {
    max-width: none;
    width: 100%;
    margin: 0 0 50px; }
  .main-about__box-one {
    margin: 0 0 68px; }
  .main-about__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 246px;
    margin: 0 -37px -69px auto; }
    .main-about__img .img-desktop {
      display: none; }
    .main-about__img .img-mobile {
      display: block; }
  .main-market-img {
    width: 482px;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: .2; } }

@media only screen and (max-width: 580px) {
  .main-header-img {
    display: none; }
  .main-header-content {
    width: 100%;
    max-width: 335px; }
  .description-title {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px; }
  h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px; }
  .main-footer {
    padding: 29px 0 42px; }
    .main-footer .main-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .main-footer .main-container:after {
        content: '';
        position: absolute;
        width: 84px;
        height: 84px;
        border-radius: 50%;
        background: #F9F1F5;
        right: -39px;
        top: 180px; }
      .main-footer .main-container:before {
        top: -19px;
        left: -73px; }
  .main-footer__bottom {
    display: none; }
  .main-footer-box {
    width: 100%;
    margin: 0 0 40px; }
  .main-footer-box__last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0; }
  .main-logo {
    margin: 0;
    max-width: 91px; }
  .main-footer-social {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .main-footer-social li {
      margin: 0 30px 0 0; }
  .main-d-none {
    opacity: 1; }
  .main-footer-box__title {
    margin: 0 0 10px; }
  .main-footer-menu li {
    margin: 0 0 17px; }
    .main-footer-menu li:last-child {
      margin: 0; }
  .line-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-command-slider__nav {
    margin: 11px 0 0; }
  .main-command-box {
    margin: 0 30px 0 0; }
  .slick-dots {
    width: 100%; }
  .main-command .line-wrapper {
    padding: 0 15px; }
  .main-command .main-container {
    padding: 0; }
  .main-command-slider {
    padding: 0 15px; }
  .main-container {
    padding: 0 15px; }
  .main-market {
    padding: 40px 0 90px; }
    .main-market h1 {
      text-align: center;
      font-size: 28px;
      line-height: 34px;
      margin: 46px auto 30px; }
    .main-market .logo {
      width: 150px;
      margin: 0 auto; }
    .main-market .btn {
      margin: 0 auto;
      max-width: 232px; }
  .btn-accent {
    height: 50px;
    font-size: 18px; }
    .btn-accent:before {
      bottom: -5px; }
  .thead, .table-connect .td:first-child {
    font-size: 12px;
    font-weight: 600; }
  .table-connect .btn {
    margin: 10px 0; }
  .price-connect .btn-accent:before {
    -webkit-box-shadow: 0px 10px 20px #F4E9EA;
            box-shadow: 0px 10px 20px #F4E9EA; }
  .description-connect {
    font-size: 11px;
    line-height: 13px; }
    .description-connect h3 {
      margin: 0 0 10px;
      font-size: 12px; }
  .table-connect h3, .table-connect, .price-connect p {
    font-size: 12px; }
  .table-connect {
    width: 600px; }
  .table-connect .th:first-child, .table-connect .td:first-child {
    width: 130px;
    position: relative; }
    .table-connect .th:first-child:before, .table-connect .td:first-child:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 10px;
      height: 100%;
      background: -webkit-gradient(linear, left top, right top, from(#F9E1E1), color-stop(90%, rgba(249, 225, 225, 0)));
      background: linear-gradient(90deg, #F9E1E1 0%, rgba(249, 225, 225, 0) 90%);
      display: block;
      -webkit-transform: translate(0);
              transform: translate(0); }
  .table-connect .th:before, .table-connect .td:before {
    left: auto;
    right: 0; }
  .table-connect .td:last-child:before, .table-connect .th:last-child:before {
    display: none; }
  .tr {
    padding: 0; }
  .thead {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .users-service h2 {
    text-align: center; }
  .users-service-slider:before {
    display: none; }
  .users-service-slider .name-user {
    font-size: 14px; }
  .users-service-slider .position-user {
    font-size: 10px;
    max-width: 138px; }
  .users-service-slider .main-command-box__text {
    font-size: 12px;
    height: 127px;
    overflow: hidden; }
  .users-service-slider .main-command-box {
    margin: 0 32px 0 0;
    width: 248px; } }

@media only screen and (max-width: 480px) {
  .main-header-slider .main-container {
    padding: 30px 40px; }
  .logo-slider__svg {
    max-width: 238px; }
  .logo-slider__img {
    max-width: 170px; }
  .main-menu {
    display: none;
    margin: 0; }
  .logo-slider {
    margin: auto auto 150px;
    padding: 0 0 45px; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-top-navigation {
    padding: 10px 0 5px; }
    .main-top-navigation .btn-burger {
      position: relative;
      top: 0;
      right: 0; }
      .main-top-navigation .btn-burger svg path {
        fill: #775DAA; }
  .main-about__box .text {
    max-width: 254px; }
  .main-about {
    padding: 0;
    position: relative; }
    .main-about:before {
      content: '';
      position: absolute;
      top: 38px;
      left: -39px;
      background: #F9F1F5;
      width: 74px;
      height: 74px;
      border-radius: 50%; }
    .main-about:after {
      content: '';
      bottom: 28px;
      left: -30px;
      position: absolute;
      background: #F9F1F5;
      width: 174px;
      height: 174px;
      border-radius: 50%; } }

@media only screen and (max-width: 330px) {
  h1 {
    font-size: 24px; } }
