@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Gilroy/Gilroy-Thin.eot");
  src: url("../fonts/Gilroy/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Thin.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #2D2D2D; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.main-container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  padding: 0 20px; }

a {
  display: block;
  outline: none;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  a:hover {
    text-decoration: none; }

h1 {
  font-size: 60px; }

.color-violet {
  color: #775DAA; }

.main-header {
  margin: 0 0 47px;
  padding: 9px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.85%, #FFFFFF), to(#F5E6EE));
  background: linear-gradient(180deg, #FFFFFF 16.85%, #F5E6EE 100%); }
  .main-header .main-container:before {
    content: '';
    position: absolute;
    left: -60px;
    top: 34px;
    width: 229px;
    height: 229px;
    border-radius: 50%;
    background: linear-gradient(97.29deg, #E3B1C6 -9.5%, #FFC790 110.84%);
    opacity: .3; }
  .main-header .main-container:after {
    content: '';
    border-radius: 50%;
    background: linear-gradient(97.29deg, #E3B1C6 -9.5%, #FFC790 110.84%);
    width: 82px;
    height: 82px;
    bottom: -47px;
    right: -250px;
    position: absolute; }

.main-header-img {
  max-width: 485px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -80px 0 auto; }

.main-header-content {
  padding: 77px 0 0 0;
  width: calc(100% - 485px);
  position: relative;
  z-index: 1; }

.description-title {
  margin: 30px 0 0;
  font-size: 44px;
  font-weight: 200; }

.main-d-none {
  opacity: 0; }

.main-footer {
  position: relative;
  padding: 80px 0 50px; }
  .main-footer:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(56.87deg, #ECAACC 12.39%, #F4C58F 91.16%); }
  .main-footer .main-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .main-footer .main-container > * {
      position: relative; }
    .main-footer .main-container:before {
      content: '';
      position: absolute;
      width: 230px;
      height: 230px;
      border-radius: 50%;
      background: #F9F1F5;
      top: -31px;
      left: -63px; }

.main-footer-box {
  position: relative;
  z-index: 1; }

.main-footer__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 54px 0 0;
  color: #C4C4C4;
  font-size: 14px; }

.main-links {
  color: #C4C4C4; }

.main-copyright {
  max-width: 520px;
  width: 100%; }

.main-footer-box__title {
  width: 100%;
  color: #775DAA;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 28px; }

.main-logo {
  max-width: 153px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px; }

.main-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .main-footer-social li {
    margin: 0 35px 0 0; }
    .main-footer-social li:last-child {
      margin: 0; }

.main-footer-menu {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }
  .main-footer-menu li {
    margin: 0 50px 10px 0; }
    .main-footer-menu li:nth-child(3), .main-footer-menu li:nth-child(4) {
      margin-right: 0; }
    .main-footer-menu li a {
      color: #2D2D2D;
      font-size: 14px; }
      .main-footer-menu li a:hover {
        color: #775DAA; }
    .main-footer-menu li .main-mail {
      color: #775DAA; }

.main-mail {
  color: #775DAA;
  text-decoration: underline; }

.main-header-top {
  width: 100%;
  position: relative;
  height: 100vh; }

.btn-burger {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 14px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.main-header-slider {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  font-family: "Gilroy", sans-serif; }
  .main-header-slider .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 112px 40px 30px;
    height: 100%; }

.btn-scroll {
  margin: auto auto 0; }

.bg-violet {
  background: #775DAA; }

.bg-mint {
  background: #8AC1B1; }

.bg-black-violet {
  background: #190F2D; }

.bg-light-blue {
  background: #58C5CC; }

.bg-blue {
  background: #5D87F4; }

.bg-light-brown {
  background: #D3B25D; }

.bg-light-green {
  background: #ADC973; }

.main-header-slider__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none; }

.main-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0 97px; }
  .main-menu li a {
    color: #fff;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-menu li a:after {
      display: inline-block;
      content: '';
      width: 3px;
      height: 3px;
      background: #fff;
      border-radius: 50%;
      margin: 0 20px; }
  .main-menu li:last-child a:after {
    display: none; }

.logo-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0 100px;
  margin: auto auto 0; }

.logo-slider__svg {
  max-width: 490px;
  width: 100%;
  margin: 0 auto; }

.logo-slider__img {
  max-width: 350px;
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.slick-slide {
  outline: none; }

.wrapper {
  font-family: "Gilroy", sans-serif; }

.main-top-navigation {
  padding: 10px 0; }
  .main-top-navigation .logo {
    width: 100px; }
  .main-top-navigation .main-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-top-navigation .main-menu {
    margin: 0;
    width: auto; }
    .main-top-navigation .main-menu li a {
      color: #282828;
      font-weight: 600; }
      .main-top-navigation .main-menu li a:after {
        background: #282828; }

.main-top-navigation.fixed {
  position: fixed;
  z-index: 7;
  width: 100%;
  background: #fff;
  left: 0;
  top: 0; }

.main-about {
  padding: 50px 0 65px; }
  .main-about .main-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

.main-about__box {
  max-width: 500px;
  width: 100%;
  margin: 0 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #282828;
  font-size: 16px; }
  .main-about__box .text {
    max-width: 435px; }

.main-about__img {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 24px; }

.img-mobile {
  display: none; }

.img-desktop {
  display: block; }

.main-about__box-one {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-about__title {
  margin: 0 0 18px;
  text-transform: uppercase;
  color: #282828;
  font-size: 18px;
  font-weight: bold; }

.main-about__links {
  margin: 0 0 25px;
  text-decoration: underline;
  color: #775DAA;
  font-size: 18px; }

.links-accent {
  text-decoration: underline;
  display: inline;
  color: #775DAA; }

.links-directions {
  margin: 0 0 10px;
  border: 1px solid #775DAA;
  color: #282828;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .links-directions:hover {
    color: #fff;
    background: #775DAA; }
  .links-directions:last-child {
    margin: 0; }

.main-command .line-wrapper {
  margin: 0 0 23px; }

.main-command-slider {
  width: 100%; }

.line-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap; }

h2 {
  text-transform: uppercase;
  color: #282828;
  font-size: 18px;
  font-weight: bold; }

.main-command-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 0 0 0 125px;
  width: 340px;
  color: #282828; }

.main-command-box__photo {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 115px;
  height: 115px;
  position: absolute;
  left: 0;
  top: 0; }
  .main-command-box__photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.name-user {
  font-weight: bold;
  font-size: 16px; }

.position-user {
  margin: 9px 0 19px;
  font-weight: 600;
  font-size: 12px;
  max-width: 175px;
  width: 100%; }

.main-command-box__text {
  font-weight: 100;
  font-size: 12px; }

.slick-arrow {
  position: relative;
  top: 0;
  right: 0;
  -webkit-transform: none;
          transform: none;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15); }
  .slick-arrow:before {
    display: none; }

.slick-next {
  background: #fff url("../img/arrow-right.svg") no-repeat center;
    background-size: 6px;
  margin: 0 18px 0 5px; }
  .slick-next:hover, .slick-next:focus {
    background: #fff url("../img/arrow-right.svg") no-repeat center;
      background-size: 6px; }

.slick-prev {
  background: #fff url("../img/arrow-left.svg") no-repeat center;
    background-size: 6px; }
  .slick-prev:hover, .slick-prev:focus {
    background: #fff url("../img/arrow-left.svg") no-repeat center;
      background-size: 6px; }

.main-command-slider__nav {
  margin: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.slick-dots {
  position: relative;
  width: calc(100% - 85px);
  bottom: 0;
  background: #ECECEC;
  height: 2px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .slick-dots .slick-active {
    background: #775DAA; }
  .slick-dots li {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 2px;
    width: auto;
    border-radius: 10px; }
    .slick-dots li button {
      display: none; }

.mobile-menu {
  position: fixed;
  height: 100%;
  z-index: 10;
  width: 270px;
  display: none; }

.btn-close {
  position: absolute;
  top: 13px;
  right: -35px;
  cursor: pointer; }

.mobile-menu__wrapper {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 30px 16px;
  background: #fff; }
  .mobile-menu__wrapper .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .mobile-menu__wrapper .main-menu li {
      margin: 0 0 20px; }
      .mobile-menu__wrapper .main-menu li:last-child {
        margin: 0; }
      .mobile-menu__wrapper .main-menu li a {
        color: #282828;
        font-family: "Gilroy", sans-serif;
        font-size: 16px; }
        .mobile-menu__wrapper .main-menu li a:hover {
          color: #775DAA; }
        .mobile-menu__wrapper .main-menu li a:after {
          display: none; }

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  display: none; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1700px) {
  .main-header .main-container:after {
    right: -50px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 40px; }
  .description-title {
    font-size: 34px; }
  .main-header-img {
    margin: 0 0 0 auto;
    max-width: 350px; }
  .main-header .main-container:after {
    right: 20px; }
  .main-header-content {
    width: calc(100% - 350px); }
  .main-footer-menu li {
    margin-right: 10px; }
  .main-footer-box:nth-child(2) .main-footer-menu li {
    margin-right: 0; } }

@media only screen and (max-width: 1050px) {
  .main-about__img, .main-about__box {
    max-width: 400px; }
  .main-command-box {
    padding: 0 0 0 109px;
    width: 310px; }
  .main-command-box__photo {
    width: 99px;
    height: 99px; } }

@media only screen and (max-width: 992px) {
  .main-footer-menu {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
    .main-footer-menu li {
      margin-right: 0; }
  .main-copyright {
    max-width: 350px; } }

@media only screen and (max-width: 960px) {
  .main-command-box {
    width: 250px;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-command-box__photo {
    position: relative; }
  .main-command-box__content {
    width: calc(100% - 109px); }
  .main-command-box__text {
    margin: 11px 0 0; }
  .name-user {
    font-size: 14px; }
  .position-user {
    font-size: 10px;
    margin: 11px 0 0; } }

@media only screen and (max-width: 840px) {
  h1 {
    font-size: 30px; }
  .description-title {
    font-size: 24px; }
  .main-about__img, .main-about__box {
    max-width: 300px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .main-header-content {
    width: calc(100% - 300px);
    padding: 47px 0 22px; }
  .main-header-img {
    max-width: 300px; }
  .main-header .main-container:before {
    width: 141px;
    height: 141px;
    left: -57px;
    top: 0; }
  .main-header {
    margin: 0 0 38px; }
    .main-header .main-container:after {
      width: 46px;
      height: 46px;
      bottom: -22px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 660px) {
  .main-footer-menu li a {
    font-size: 12px; }
  .main-footer-box__title {
    font-size: 18px; }
  .main-copyright {
    max-width: none;
    margin: 0 auto 0 0;
    width: auto; }
  .main-logo {
    max-width: 120px; }
  .main-about__box {
    max-width: none;
    width: 100%;
    margin: 0 0 50px; }
  .main-about__box-one {
    margin: 0 0 68px; }
  .main-about__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 246px;
    margin: 0 -37px -69px auto; }
    .main-about__img .img-desktop {
      display: none; }
    .main-about__img .img-mobile {
      display: block; } }

@media only screen and (max-width: 580px) {
  .main-header-img {
    display: none; }
  .main-header-content {
    width: 100%;
    max-width: 335px; }
  .description-title {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px; }
  h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px; }
  .main-footer {
    padding: 29px 0 42px; }
    .main-footer .main-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .main-footer .main-container:after {
        content: '';
        position: absolute;
        width: 84px;
        height: 84px;
        border-radius: 50%;
        background: #F9F1F5;
        right: -39px;
        top: 180px; }
      .main-footer .main-container:before {
        top: -19px;
        left: -73px; }
  .main-footer__bottom {
    display: none; }
  .main-footer-box {
    width: 100%;
    margin: 0 0 40px; }
  .main-footer-box__last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0; }
  .main-logo {
    margin: 0;
    max-width: 91px; }
  .main-footer-social {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .main-footer-social li {
      margin: 0 30px 0 0; }
  .main-d-none {
    opacity: 1; }
  .main-footer-box__title {
    margin: 0 0 10px; }
  .main-footer-menu li {
    margin: 0 0 17px; }
    .main-footer-menu li:last-child {
      margin: 0; }
  .line-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-command-slider__nav {
    margin: 11px 0 0; }
  .main-command-box {
    margin: 0 30px 0 0; }
  .slick-dots {
    width: 100%; }
  .main-command .line-wrapper {
    padding: 0 15px; }
  .main-command .main-container {
    padding: 0; }
  .main-command-slider {
    padding: 0 15px; }
  .main-container {
    padding: 0 15px; } }

@media only screen and (max-width: 480px) {
  .main-header-slider .main-container {
    padding: 30px 40px; }
  .logo-slider__svg {
    max-width: 238px; }
  .logo-slider__img {
    max-width: 170px; }
  .main-menu {
    display: none;
    margin: 0; }
  .logo-slider {
    margin: 0 auto 150px;
    padding: 0 0 45px; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-top-navigation {
    padding: 10px 0 5px; }
    .main-top-navigation .btn-burger {
      position: relative;
      top: 0;
      right: 0; }
      .main-top-navigation .btn-burger svg path {
        fill: #775DAA; }
  .main-about__box .text {
    max-width: 254px; }
  .main-about {
    padding: 0;
    position: relative; }
    .main-about:before {
      content: '';
      position: absolute;
      top: 38px;
      left: -39px;
      background: #F9F1F5;
      width: 74px;
      height: 74px;
      border-radius: 50%; }
    .main-about:after {
      content: '';
      bottom: 28px;
      left: -30px;
      position: absolute;
      background: #F9F1F5;
      width: 174px;
      height: 174px;
      border-radius: 50%; } }

@media only screen and (max-width: 330px) {
  h1 {
    font-size: 24px; } }
