@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1700px)
  .main-header .main-container:after
    right: -50px


/* Medium Devices, Desktops */
@media only screen and (max-width : 1199px)
  h1
    font-size: 40px

  .description-title
    font-size: 34px

  .main-header-img
    margin: 0 0 0 auto
    max-width: 350px

  .main-header .main-container:after
    right: 20px

  .main-header-content
    width: calc(100% - 350px)

  .main-footer-menu li
    margin-right: 10px

  .main-footer-box:nth-child(2)
    .main-footer-menu li
      margin-right: 0

  .advantages-number__box
    font-size: 18px
    margin: 0 30px 0 0
    .number
      font-size: 50px
    p
      max-width: 200px

  .block-appeal
    width: 400px

  .table-connect h3, .table-connect, .price-connect p
    font-size: 16px

  .thead, .table-connect .td:first-child
    font-size: 18px

  .table-connect .th:first-child, .table-connect .td:first-child
    padding: 15px

  .icon-property
    width: 20px
    height: 20px

  .price-connect p
    font-weight: 600

  .users-service-slider
    padding: 0 0 0 15px

  .users-service-slider .main-command-box
    width: 700px

@media only screen and (max-width : 1050px)
  .main-about__img, .main-about__box
    max-width: 400px

  .main-command-box
    padding: 0 0 0 109px
    width: 310px

  .main-command-box__photo
    width: 99px
    height: 99px

  .users-service-slider .main-command-box
    padding: 0 0 0 109px

@media only screen and (max-width : 992px)
  .main-footer-menu
    column-count: 1
    li
      margin-right: 0

  .main-copyright
    max-width: 350px

  .main-market-img
    width: 457px

  .main-market
    padding: 30px 0 50px
    h1
      font-size: 45px
      margin: 45px 0 30px

@media only screen and (max-width : 960px)
  .main-command-box
    width: 250px
    padding: 0
    justify-content: space-between
    align-items: center

  .main-command-box__photo
    position: relative

  .main-command-box__content
    width: calc(100% - 109px)

  .main-command-box__text
    margin: 11px 0 0

  .name-user
    font-size: 14px

  .position-user
    font-size: 10px
    margin: 11px 0 0

  .block-appeal
    width: 320px
    font-size: 18px
    padding: 30px 15px
    p
      max-width: none
    .btn
      max-width: 232px

  .btn-violet
    height: 50px
    font-size: 18px

  .advantages-number
    padding: 20px 0 30px

  .main-help__content
    max-width: 450px

  .users-service-slider .main-command-box
    padding: 0

  .users-service-slider .main-command-box
    width: 500px

  .users-service
    .main-command-slider__nav
      margin: 0

@media only screen and (max-width : 845px)
  h1
    font-size: 30px

  .description-title
    font-size: 24px

  .main-about__img, .main-about__box
    max-width: 300px

  .advantages-number__box
    width: 100%
    margin: 0 0 40px
    text-align: center
    p
      max-width: 290px
      margin: 0 auto
    &:last-child
      margin: 0 0 30px

  .advantages-number
    flex-direction: column
    align-items: center

  .block-appeal
    width: 100%
    position: relative
    top: 0
    right: 0
    text-align: center
    p
      margin: 0 auto 15px
    .btn
      margin: 0 auto

  .main-page h2
    font-size: 28px
    margin: 0 0 24px

  .stages-work__box
    max-width: none
    width: 100%
    text-align: center
    margin: 0 0 50px
    h3
      margin: 10px 0
      font-size: 22px

  .stages-work__icon
    justify-content: center

  .stages-work
    .btn
      height: 60px
      max-width: 232px
      margin: 0 auto
      font-size: 18px

  .main-help
    padding: 60px 0 40px
    h2
      margin: 0 auto 20px
      text-align: center

  .main-help__content
    max-width: none

  .main-page
    .description-title
      text-align: center

  .main-help .block-appeal p
    max-width: none
    br
      display: none

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .main-header-content
    width: calc(100% - 300px)
    padding: 47px 0 22px

  .main-header-img
    max-width: 300px

  .main-header .main-container:before
    width: 141px
    height: 141px
    left: -57px
    top: 0

  .main-header
    margin: 0 0 38px
    .main-container:after
      width: 46px
      height: 46px
      bottom: -22px

  .table-connect .btn
    height: 33px
    max-width: 120px
    font-size: 12px
    &:before
      bottom: -3px

  .table-connect .th:first-child, .table-connect .td:first-child
    width: 25%

  .table-connect .th, .table-connect .td, .table-connect .td:last-child, .table-connect .th:last-child
    width: 25%

  .users-service-slider .main-command-box
    width: 400px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 660px)
  .main-footer-menu
    li
      a
        font-size: 12px

  .main-footer-box__title
    font-size: 18px

  .main-copyright
    max-width: none
    margin: 0 auto 0 0
    width: auto

  .main-logo
    max-width: 120px

  .main-about__box
    max-width: none
    width: 100%
    margin: 0 0 50px


  .main-about__box-one
    margin: 0 0 68px

  .main-about__img
    order: -1
    max-width: 246px
    margin: 0 -37px -69px auto
    .img-desktop
      display: none
    .img-mobile
      display: block

  .main-market-img
    width: 482px
    right: auto
    left: 50%
    transform: translate(-50%,0)
    opacity: .2

  .sidebar
    width: 250px
    padding: 30px 25px

  .section-content__content
    width: calc(100% - 250px)
    padding: 40px 30px

@media only screen and (max-width : 580px)
  .main-header-img
    display: none

  .main-header-content
    width: 100%
    max-width: 335px

  .description-title
    margin: 0
    font-weight: 300
    font-size: 20px
    line-height: 24px

  h1
    font-size: 26px
    font-weight: 500
    line-height: 32px

  .main-footer
    padding: 29px 0 42px
    .main-container
      flex-direction: column
      align-items: flex-start
      &:after
        content: ''
        position: absolute
        width: 84px
        height: 84px
        border-radius: 50%
        background: #F9F1F5
        right: -39px
        top: 180px
      &:before
        top: -19px
        left: -73px


  .main-footer__bottom
    display: none

  .main-footer-box
    width: 100%
    margin: 0 0 40px

  .main-footer-box__last
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0

  .main-logo
    margin: 0
    max-width: 91px

  .main-footer-social
    width: fit-content
    li
      margin: 0 30px 0 0

  .main-d-none
    opacity: 1

  .main-footer-box__title
    margin: 0 0 10px

  .main-footer-menu li
    margin: 0 0 17px
    &:last-child
      margin: 0

  .line-wrapper
    flex-wrap: wrap

  .main-command-slider__nav
    margin: 11px 0 0

  .main-command-box
    margin: 0 30px 0 0

  .slick-dots
    width: 100%

  .main-command
    .line-wrapper
      padding: 0 15px
    .main-container
      padding: 0

  .main-command-slider
    padding: 0 15px

  .main-container
    padding: 0 15px

  .main-market
    padding: 40px 0 90px
    h1
      text-align: center
      font-size: 28px
      line-height: 34px
      margin: 46px auto 30px
    .logo
      width: 150px
      margin: 0 auto
    .btn
      margin: 0 auto
      max-width: 232px

  .btn-accent
    height: 50px
    font-size: 18px
    &:before
      bottom: -5px

  .thead, .table-connect .td:first-child
    font-size: 12px
    font-weight: 600

  .table-connect .btn
    margin: 10px 0

  .price-connect .btn-accent:before
    box-shadow: 0px 10px 20px #F4E9EA

  .description-connect
    font-size: 11px
    line-height: 13px
    h3
      margin: 0 0 10px
      font-size: 12px

  .table-connect h3, .table-connect, .price-connect p
    font-size: 12px

  .table-connect
    width: 600px

  .table-connect .th:first-child, .table-connect .td:first-child
    width: 130px
    position: relative
    &:before
      content: ''
      position: absolute
      right: 0
      top: 0
      width: 10px
      height: 100%
      background: linear-gradient(90deg, #F9E1E1 0%, rgba(249, 225, 225, 0) 90%)
      display: block
      transform: translate(0)

  .table-connect .th:before, .table-connect .td:before
    left: auto
    right: 0

  .table-connect .td:last-child, .table-connect .th:last-child
    &:before
      display: none

  .tr
    padding: 0

  .thead
    box-shadow: none

  .users-service
    h2
      text-align: center

  .users-service-slider:before
    display: none

  .users-service-slider .name-user
    font-size: 14px

  .users-service-slider .position-user
    font-size: 10px
    max-width: 138px

  .users-service-slider .main-command-box__text
    font-size: 12px
    height: 127px
    overflow: hidden

  .users-service-slider .main-command-box
    margin: 0 32px 0 0
    width: 248px

@media only screen and (max-width : 480px)
  .main-header-slider
    .main-container
      padding: 30px 40px

  .logo-slider__svg
    max-width: 238px

  .logo-slider__img
    max-width: 170px

  .main-menu
    display: none
    margin: 0

  .logo-slider
    margin: auto auto 150px
    padding: 0 0 45px

  .btn-burger
    display: flex

  .main-top-navigation
    padding: 10px 0 5px
    .btn-burger
      position: relative
      top: 0
      right: 0
      svg
        path
          fill: #775DAA

  .main-about__box
    .text
      max-width: 254px

  .main-about
    padding: 0
    position: relative
    &:before
      content: ''
      position: absolute
      top: 38px
      left: -39px
      background: #F9F1F5
      width: 74px
      height: 74px
      border-radius: 50%
    &:after
      content: ''
      bottom: 28px
      left: -30px
      position: absolute
      background: #F9F1F5
      width: 174px
      height: 174px
      border-radius: 50%

  .sidebar
    width: 100%
    background: transparent
    height: auto
    padding: 22px 20px
    display: flex
    align-items: center
    justify-content: space-between
    .sidebar-menu
      display: none
    .logo
      max-width: 100px
      margin: 0

  .btn-mobile-sidebar
    display: flex

  .section-content__content
    width: 100%
    padding: 30px 20px
    height: auto

@media only screen and (max-width : 330px)
  h1
    font-size: 24px

