@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  background: #fff
  color: #2D2D2D

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

.main-container
  max-width: 1180px
  width: 100%
  margin: 0 auto
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  z-index: 1
  padding: 0 20px

a
  display: block
  outline: none
  text-decoration: none
  transition: .3s ease

  &:hover
    text-decoration: none

h1
  font-size: 60px

.color-violet
  color: $accent

.main-header
  margin: 0 0 47px
  padding: 9px 0 0
  background: linear-gradient(180deg, #FFFFFF 16.85%, #F5E6EE 100%)

  .main-container
    &:before
      content: ''
      position: absolute
      left: -60px
      top: 34px
      width: 229px
      height: 229px
      border-radius: 50%
      background: linear-gradient(97.29deg, #E3B1C6 -9.5%, #FFC790 110.84%)
      opacity: .3

    &:after
      content: ''
      border-radius: 50%
      background: linear-gradient(97.29deg, #E3B1C6 -9.5%, #FFC790 110.84%)
      width: 82px
      height: 82px
      bottom: -47px
      right: -250px
      position: absolute

.main-header-img
  max-width: 485px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 0 -80px 0 auto

.main-header-content
  padding: 77px 0 0 0
  width: calc(100% - 485px)
  position: relative
  z-index: 1

.description-title
  margin: 30px 0 0
  font-size: 44px
  font-weight: 200

.main-d-none
  opacity: 0

//main-footer
.main-footer
  position: relative
  padding: 80px 0 50px

  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 10px
    background: linear-gradient(56.87deg, #ECAACC 12.39%, #F4C58F 91.16%)

  .main-container
    justify-content: space-between

    > *
      position: relative

    &:before
      content: ''
      position: absolute
      width: 230px
      height: 230px
      border-radius: 50%
      background: #F9F1F5
      top: -31px
      left: -63px

.main-footer-box
  position: relative
  z-index: 1

.main-footer__bottom
  width: 100%
  display: flex
  align-items: center
  margin: 54px 0 0
  color: #C4C4C4
  font-size: 14px

.main-links
  color: #C4C4C4

.main-copyright
  max-width: 520px
  width: 100%

.main-footer-box__title
  width: 100%
  color: #775DAA
  font-size: 20px
  font-weight: 600
  margin: 0 0 28px

.main-logo
  max-width: 153px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 30px

.main-footer-social
  display: flex
  align-items: center
  justify-content: flex-end

  li
    margin: 0 35px 0 0

    &:last-child
      margin: 0

.main-footer-menu
  column-count: 2

  li
    margin: 0 50px 10px 0

    &:nth-child(3), &:nth-child(4)
      margin-right: 0

    a
      color: #2D2D2D
      font-size: 14px

      &:hover
        color: $accent

    .main-mail
      color: #775DAA


.main-mail
  color: #775DAA
  text-decoration: underline

//main-header-slider
.main-header-top
  width: 100%
  position: relative

.btn-burger
  position: absolute
  z-index: 1
  top: 20px
  right: 15px
  width: 20px
  height: 14px
  display: none
  align-items: center
  justify-content: center
  cursor: pointer

.main-header-slider
  width: 100%
  color: #fff
  position: relative
  font-family: $gilroy

  .main-container
    flex-direction: column
    align-items: center
    padding: 112px 40px 30px

.bg-violet
  background: #775DAA

.bg-mint
  background: #8AC1B1

.bg-black-violet
  background: #190F2D

.bg-light-blue
  background: #58C5CC

.bg-blue
  background: #5D87F4

.bg-light-brown
  background: #D3B25D

.bg-light-green
  background: #ADC973

.main-header-slider__bg
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

.main-menu
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin: 10px 0 97px

  li
    a
      color: #fff
      font-size: 14px
      display: flex
      align-items: center
      &:after
        display: inline-block
        content: ''
        width: 3px
        height: 3px
        background: #fff
        border-radius: 50%
        margin: 0 20px
    &:last-child
      a
        &:after
          display: none

.logo-slider
  display: flex
  flex-direction: column
  align-items: center

.logo-slider__svg
  max-width: 490px
  width: 100%
  margin: 0 auto

.logo-slider__img
  margin: -90px auto 0
  max-width: 350px
  width: 100%

.slick-slide
  outline: none

//wrapper
.wrapper
  font-family: $gilroy

.main-top-navigation
  padding: 10px 0 60px
  .logo
    width: 100px
  .main-container
    align-items: center
    justify-content: space-between
  .main-menu
    margin: 0
    width: auto
    li
      a
        color: #282828
        font-weight: 600
        &:after
          background: #282828

//main-about
.main-about
  padding: 0 0 65px
  .main-container
    justify-content: space-between
    align-items: stretch

.main-about__box
  max-width: 500px
  width: 100%
  margin: 0 0 24px
  display: flex
  flex-direction: column
  align-items: flex-start
  color: #282828
  font-size: 16px
  .text
    max-width: 435px


.main-about__img
  max-width: 500px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 24px
  
.img-mobile
  display: none

.img-desktop
  display: block

.main-about__box-one
  justify-content: center

.main-about__title
  margin: 0 0 18px
  text-transform: uppercase
  color: #282828
  font-size: 18px
  font-weight: bold


.main-about__links
  margin: 0 0 25px
  text-decoration: underline
  color: #775DAA
  font-size: 18px

.links-accent
  text-decoration: underline
  display: inline
  color: #775DAA

.links-directions
  margin: 0 0 10px
  border: 1px solid #775DAA
  color: #282828
  font-size: 18px
  font-weight: bold
  padding: 5px 20px
  width: fit-content
  &:hover
    color: #fff
    background: #775DAA
  &:last-child
    margin: 0

//.main-command
.main-command
  .line-wrapper
    margin: 0 0 23px

.main-command-slider
  width: 100%

.line-wrapper
  width: 100%
  display: flex
  align-items: center
  white-space: nowrap

h2
  text-transform: uppercase
  color: #282828
  font-size: 18px
  font-weight: bold

.main-command-box
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  position: relative
  padding: 0 0 0 125px
  width: 340px
  color: #282828

.main-command-box__photo
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  width: 115px
  height: 115px
  position: absolute
  left: 0
  top: 0
  img
    width: 100%
    height: 100%
    object-fit: cover

.name-user
  font-weight: bold
  font-size: 16px

.position-user
  margin: 9px 0 19px
  font-weight: 600
  font-size: 12px
  max-width: 175px
  width: 100%

.main-command-box__text
  font-weight: 100
  font-size: 12px

.slick-arrow
  position: relative
  top: 0
  right: 0
  transform: none
  left: 0
  z-index: 1
  display: flex
  align-items: center
  justify-content: center
  width: 30px
  height: 30px
  border-radius: 50%
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15)
  &:before
    display: none

.slick-next
  background: #fff url("../img/arrow-right.svg") no-repeat center
    size: 6px
  margin: 0 18px 0 5px
  &:hover, &:focus
    background: #fff url("../img/arrow-right.svg") no-repeat center
      size: 6px

.slick-prev
  background: #fff url("../img/arrow-left.svg") no-repeat center
    size: 6px
  &:hover, &:focus
    background: #fff url("../img/arrow-left.svg") no-repeat center
      size: 6px

.main-command-slider__nav
  margin: 0 0 0 20px
  display: flex
  align-items: center
  width: 100%

.slick-dots
  position: relative
  width: calc(100% - 85px)
  bottom: 0
  background: #ECECEC
  height: 2px
  border-radius: 10px
  display: flex
  align-items: stretch
  .slick-active
    background: #775DAA
  li
    transition: .3s ease
    margin: 0
    flex: 1
    height: 2px
    width: auto
    border-radius: 10px
    button
      display: none

.mobile-menu
  position: fixed
  height: 100%
  z-index: 10
  width: 270px
  display: none

.btn-close
  position: absolute
  top: 13px
  right: -35px
  cursor: pointer

.mobile-menu__wrapper
  height: 100%
  width: 100%
  overflow-y: auto
  padding: 30px 16px
  background: #fff
  .main-menu
    display: flex
    flex-direction: column
    align-items: flex-start
    li
      margin: 0 0 20px
      &:last-child
        margin: 0
      a
        color: #282828
        font-family: $gilroy
        font-size: 16px
        &:hover
          color: $accent
        &:after
          display: none

.overlay
  background: rgba(0, 0, 0, 0.4)
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 7
  display: none


@import "media"
// Всегда в конце
